# MONGO_URI=mongodb://localhost:27017/tracify
MONGO_URI = mongodb+srv://rakeshsi3168_db_user:qmIYjS0bRyaQzIsy@tracifydatabase.v30qlaa.mongodb.net/?appName=Tracifydatabase
username=rakeshsi3168_db_user
password=qmIYjS0bRyaQzIsy
PORT=5000
# mongodb+srv://rakeshsi3168_db_user:qmIYjS0bRyaQzIsy@tracifydatabase.v30qlaa.mongodb.net/?appName=Tracifydatabase
# mongodb+srv://rakeshsi3168_db_user:qmIYjS0bRyaQzIsy@tracifydatabase.v30qlaa.mongodb.net/